
PP1_densita2.toc

PP1_densita2.synctex.gz

PP1_densita2.log

PP1_densita2.aux

PP1_densita2.tex

PP1_densita2.pdf

PP1_densita.tex

PP1_densita.pdf

PP1_densita.log

PP1_densita.tex

PP1_densita copia.toc

PP1_densita copia.lot

PP1_densita copia.log

PP1_densita copia.aux
*.log

*.aux

*.log

*.lot

*.toc

*.gz
